# gradle

.gradle/
build/
out/
classes/


# eclipse

*.launch

# idea

.idea/
*.ipr
*.iws
*.iml

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# fabric/other

remappedSrc/
logs/
run/
src/generated/resources/.cache/cache
*.ase
*.bbmodel
src/main/resources/assets/biomesoplenty
src/main/resources/assets/twilightforest
src/main/resources/assets/druidcraft